<script type="text/html" template>
    <link rel="stylesheet" href="/js/lib/bootstrap/css/bootstrap.css" media="all"/>
    <link rel="stylesheet" href="/js/lib/bootstrap/css/bootstrap-theme.min.css" media="all"/>
    <link rel="stylesheet" href="/js/lib/bootstrap-table/bootstrap-table.css" media="all"/>
    <link rel="stylesheet" href="/css/course.css"/>
</script>

<title>历年习题</title>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>课程材料</cite></a>
        <a><cite>历年习题</cite></a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <div class="layui-tab-item layui-show">
                        <table id="table"></table>
                    </div>
            </div>
        </div>
    </div>
</div>
<script src="js/courseMaterials/exercises.js"></script>
