<script type="text/html" template>
    <!--bootstrapTable 相关样式-->
    <link rel="stylesheet" href="/js/lib/bootstrap/css/bootstrap.css" media="all"/>
    <link rel="stylesheet" href="/js/lib/bootstrap/css/bootstrap-theme.min.css" media="all"/>
    <link rel="stylesheet" href="/js/lib/bootstrap-table/bootstrap-table.css" media="all"/>
    <link rel="stylesheet" href="/js/lib/jquery-treegrid/css/jquery.treegrid.css" media="all"/>
    <!--自定义样式-->
    <link rel="stylesheet" href="/css/course.css"/>
</script>


<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>作业管理</cite></a>
        <a><cite>作业记录</cite></a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <div class="layui-tab layui-tab-brief" lay-filter="change">
                        <ul class="layui-tab-title">
                            <!--<li class="layui-this" cid="">全部课程</li>-->
                        </ul>
                        <div class="layui-tab-content" >
                            <!--<div class="layui-tab-item layui-show">
                                <table id="record-table"></table>
                            </div>-->
                        </div>
                    </div>

                    <script type="text/html" id="tab-demo">
                        <div id="toolbar">
                            <ul class="status-labels">
                                <li>
                                    <i class='layui-icon layui-icon-ok-circle icon-green' />
                                    <span class='label-text icon-green'>正常</span>
                                    <span class="label-illustration">作业在指定时间内全部提交，且代码运行通过</span>
                                </li>
                                <li>
                                    <i class='layui-icon layui-icon-about icon-yellow' />
                                    <span class='label-text icon-yellow'>迟交</span>
                                    <span class="label-illustration">作业出现迟交或者代码运行出错 表示为迟交状态</span>
                                </li>
                                <li>
                                    <i class='layui-icon layui-icon-close-fill icon-red' />
                                    <span class='label-text icon-red'>未交</span>
                                    <span class="label-illustration">作业出现未交 表示为未交状态</span>
                                </li>
                                <!--<li>
                                    <span class="icon icon-monitor state-info"></span>
                                    <span class="label-text state-info">通知</span>
                                    <span class="label-illustration">服务在当前或历史的运行中，出现的一些重要情况，将以通知的形式表示</span>
                                </li>-->
                            </ul>
                        </div>
                        <table id="record-table"></table>
                    </script>

                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/teacher/homework/record.js"></script>
